.abt{
    border-radius: 56px;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Adjust color as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure it stays on top of other content */
  }
  
  .back-button:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
  }
  