/* App.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Light Theme */
  .light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  .light-theme .theme-toggle-btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Dark Theme */
  .dark-theme {
    background-color: #121212;
    color: #ffffff;
  }
  
  
  .dark-theme .theme-toggle-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  