.navbar{
    border-radius: 30px;
    width:50%;
    
}

@media (max-width: 768px) {
    .navbar {
      width: 100%; 
    }
  }



  .dark {
   
    --navbar-text: black;
   
  }

  .nav-link {
    text-decoration: none;
    color: var(--navbar-text);
   
  }