.navbar {
  border-radius: 30px;
  width: 50%;
  transition: all 0.3s ease-in-out;
}

/* Responsive width adjustments */
@media (max-width: 1024px) {
  .navbar {
      width: 70%;
  }
}

@media (max-width: 768px) {
  .navbar {
      width: 95%; 
      border-radius: 20px; /* Slightly reduced for better look */
      gap: 2rem;
  }
}

@media (max-width: 480px) {
  .navbar {
      width: 100%;
      border-radius: 15px; /* More compact for small screens */
      gap: 2rem;
  }
}

/* Dark mode styling */
.dark {
  --navbar-text: black;
}

.dark .nav-link {
  color: var(--navbar-text);
}

/* Navbar links */
.nav-link {
  text-decoration: none;
  color: var(--navbar-text);
}